<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Work Summary</h1>
    </ion-header-bar>

    <ion-content class="padding">

        <h4>
            You are about to complete order #{{ wo.work_order_number }}
        </h4>

        <p>
            Completion date: {{ wo.completed_at | amUtc | amLocal | amDateFormat: DEFAULT_DISPLAY_DATE_FORMAT }}
        </p>

        <button ng-click="complete(wo)" class="button button-block button-positive">SUBMIT SIGNED WORK ORDER</button>
    </ion-content>
</ion-modal-view>