<ion-view>
    <ion-nav-title>
        Labor for {{ asset.model_number }}
    </ion-nav-title>
    <div class="bar bar-subheader bar-positive">
        <h3 class="title">Labor</h3>
    </div>
    <ion-content class="has-subheader padding">
        <div class="padding-bottom">
            <a ui-sref="add-labor({quoteUuid: quoteUuid})" class="button button-positive"><i class="ion-plus"></i> Add</a>
        </div>

        <div class="list">
            <div class="item item-text-wrap" collection-repeat="quoteEntry in quoteEntries track by $index">
                <p>
                    <strong>Hours: </strong>{{ quoteEntry.hrs }}<br>
                    <strong>Men: </strong>{{ quoteEntry.men }}<br>
                </p>
                <div class="row">
                    <div class="col">
                        <a class="button button-block button-small button-positive" ui-sref="edit-labor({quoteEntryUuid: quoteEntry.uuid, quoteUuid: quoteUuid})">Edit</a>
                    </div>
                    <div class="col">
                        <a class="button button-block button-small button-assertive" ng-click="remove(quoteEntry)">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <a ui-sref="scope-of-service({assetUuid: asset.uuid, quoteUuid: quoteUuid})" class="button button-positive">Previous</a>
        <a ui-sref="subcontractor({quoteUuid: quoteUuid})" class="button button-positive pull-right">Next</a>
    </div>
</ion-view>
