<ion-view>
    <ion-nav-title>
        Materials for {{ asset.name }}
    </ion-nav-title>
    <div class="bar bar-subheader bar-positive">
        <h3 class="title">Material</h3>
    </div>
    <ion-content class="has-subheader padding">

        <div class="padding-bottom">
            <a ui-sref="add-material({quoteUuid: quoteUuid})" class="button button-positive"><i class="ion-plus"></i> Add</a>
        </div>

        <div class="list">
            <div class="item item-text-wrap" ng-repeat="quoteEntry in quoteEntries track by $index">
                <p>
                    <strong>Quantity: </strong>{{ quoteEntry.qty }}
                </p>
                <p>
                    <strong>Description: </strong>{{ quoteEntry.desc }}
                </p>
                <div class="row">
                    <div class="col">
                        <a class="button button-block button-small button-positive" ui-sref="edit-material({quoteEntryUuid: quoteEntry.uuid, quoteUuid: quoteUuid})">Edit</a>
                    </div>
                    <div class="col">
                        <a class="button button-block button-small button-assertive" ng-click="remove(quoteEntry)">Remove</a>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
    <div class="bar bar-footer bar-dark">
        <a ui-sref="subcontractor({quoteUuid: quoteUuid})" class="button button-positive">Previous</a>
        <a ui-sref="equipment({quoteUuid: quoteUuid})" class="button button-positive pull-right">Next</a>
    </div>
</ion-view>
