<ion-view title="Settings Menu">
    <ion-content class="padding">
        <div class="list">
            <ion-list>
              <ion-item ui-sref="sync">
                  Sync status
              </ion-item>
              <ion-item ui-sref="upload-queue">
                  Upload queue
              </ion-item>
              <ion-item ui-sref="query">
                  DB query
              </ion-item>
              <ion-item ui-sref="dump">
                  Send app state for inspection
              </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
