<ion-view title="Work Performed for Air Conditioner #1">
    <ion-content class="padding">
        <form novalidate>
            <div class="list">
                <label class="item item-input">
                    <textarea class="ion-textarea" style="height: 140px;" ng-model="asset.work_performed" placeholder="Type performed work description here"></textarea>
                </label>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <a class="button button-energized" ng-click="back()">Back</a>
        <a class="button button-positive pull-right" ng-click="save()">Save</a>
    </div>
</ion-view>
