<ion-header-bar align-title="left" class="bar-positive">
    <div>
        <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"> Menu</button>
    </div>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item ng-repeat="item in menuItems" href="{{::item.url}}" ng-click="hideSideMenu()" class="item-icon-left" online-only="{{ ::item.onlineOnly }}">
            <i class="icon {{item.icon}}"></i>
            {{ ::item.label }}
        </ion-item>
        <ion-item class="item-icon-left" ng-click="logout()">
            <i class="icon ion-power"></i>
            Logout
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer-bar class="bar-positive text-center">
  <small>v{{ appInfo.version }}</small>
</ion-footer-bar>
