<ion-view>
    <ion-nav-title>
        Materials for asset {{ asset.name }}
    </ion-nav-title>
    <div class="bar bar-subheader bar-positive">
        <h3 class="title">Material</h3>
    </div>
    <ion-content class="has-subheader padding">

        <div class="padding-bottom">
            <a ui-sref="billing-add-material({objectUuid: objectUuid, linkPersonWoId: linkPersonWoId})" class="button button-positive"><i class="ion-plus"></i> Add</a>
        </div>

        <div class="list">
            <div class="item item-text-wrap" ng-repeat="billingEntry in billingEntries track by $index">
                <p>
                    <strong>Quantity: </strong>{{ billingEntry.qty }}
                </p>
                <p>
                    <strong>Description: </strong>{{ billingEntry.desc }}
                </p>
                <div class="row">
                  <div class="col" ng-hide="billingEntry.id">
                      <a class="button button-block button-small button-assertive" ng-click="remove(billingEntry)">Remove</a>
                  </div>
                  <div class="col" ng-show="billingEntry.id">
                    <strong style="color: green">Synced <i class="ion-checkmark-round"></i></strong>
                  </div>
                </div>
            </div>
        </div>


    </ion-content>
    <div class="bar bar-footer bar-dark billing">
        <a ui-sref="billing-labor({objectUuid: objectUuid, linkPersonWoId: linkPersonWoId})" class="button button-positive">Previous</a>
        <a ui-sref="assets.mode({mode: 'wo', work_order_uuid: wo.uuid, address_uuid: wo.address_uuid})" class="button button-positive">Back to assets</a>
        <a ui-sref="billing-equipment({objectUuid: objectUuid, linkPersonWoId: linkPersonWoId})" class="button button-positive">Next</a>
    </div>
</ion-view>
