/* Empty. Add your own CSS if you like */

table{
    border-collapse: collapse;
    margin-bottom: 8px;
    width: 100%;

    td{
        border: 1px solid lightgray;
    }

    th{
        font-weight: bold;
        border: 1px solid gray;
    }

    td,th{
        font-size: 10px;
        padding: 3px;
        box-sizing: border-box;
    }

    &.assigned-techs{
        td,th{
            font-size: 11px;
        }
    }
}

.view-container .button {
  text-transform: uppercase;
  // font-size: 0.9em;
}

.button-bar-group {
  .button-full {
    margin-top: 0;
    margin-bottom: 0;
  }

 .button-bar > .button {
    border-radius: 0;
  }
}

.time-sheet-list {
  width: 100%;

  thead {
    font-weight: bold;
    text-align: left;
  }

  tbody{
    td{
      font-size: 12px;
    }
  }
}

.modal {
    .bar.bar-footer{
        .button{
            margin-top: 0px;
        }
    }
}

.company-code-prompt{
  .item-input{
    .ion-help-circled{
      font-size: 1.8rem;
      padding-right: 6px;
    }
  }
}

.photo-location{
  .popup{
    width: 400px !important;
  }
}

.modal-wrapper{
  .transparent{
    background: rgba(0,0,0,0.4);

    .scroll{
      display: flex;
      align-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
  margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;

  i {
    font-size: 24px;
    color: red;
    vertical-align: middle;
  }
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {

  input{
    border: 1px solid red;
    margin-right: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }

  span{
    color: red;
  }
}

form {
  span.required{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
  }

  textarea{
    padding: 7px;
  }
}

.photo-preview{
  .indicator{
    position: fixed;
    display: block;
    font-size: 11px;
    top: 0;
    left: 0;
    padding: 2px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.6);
    z-index: 2;
  }
}

video{
  background: black;
}

.text-center{
  text-align: center;
  display: block;
}

body{
  &.menu-open{
    .menu-content{
      z-index: 0 !important;
      transform: translate3d(0px, 0px, 0px) !important;
    }

    .menu.menu-left{
      z-index: 999 !important;
    }

    .menu-overlay{
      position: fixed;
      z-index: 5;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.5);
    }
  }
}

.no-padding {
  padding: 0px !important;
}

.wo-buttons{
  .col {
    .padding-bottom{
      padding-bottom: 5px;
    }
  }
}

.tabs-quotes{
  ion-content.has-header.has-subheader.has-tabs{
    top: 0px;

    label.quote-status{
      div.input-label{
        display: none;
      }

      select{
        left: 0px;
        right: auto;
        padding: 0 16px 0 16px;
        max-width: 100%;
      }
    }
  }

  .tab-subheader{
    .row {
      .col{
        padding: 0 4px 0 4px;

        .button{
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

.bar-footer{
    &.billing{
        display: flex;
        justify-content: space-between;

        .button{
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
        }

        .button:last-child{
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
        }
    }
}

.timer-dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0 16px 0 16px;
    border: 2px solid #387EF5;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
    line-height: 2.2em;
}

.timer-dropdown-container{
    position: relative;
}

.timer-dropdown-container::after{
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
    display: block;
}

.update-required{
    .scroll{
        display: flex;
        align-items: center;
    }
}

.purchase-order{
    .receive{
        input{
            display: inline-block;
            margin-top: 9px;
            line-height: 26px;
        }
    }
}

.button-pink{
    background-color: red;
    color: white;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    color: orange;
}

$bounceRange: 8px;

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-$bounceRange); }
  60% {
    -webkit-transform: translateY(-($bounceRange / 2)); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-$bounceRange); }
  60% {
    -moz-transform: translateY(-($bounceRange / 2)); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-$bounceRange);
    -moz-transform: translateY(-$bounceRange);
    -ms-transform: translateY(-$bounceRange);
    -o-transform: translateY(-$bounceRange);
    transform: translateY(-$bounceRange); }
  60% {
    -webkit-transform: translateY(-($bounceRange / 2));
    -moz-transform: translateY(-($bounceRange / 2));
    -ms-transform: translateY(-($bounceRange / 2));
    -o-transform: translateY(-($bounceRange / 2));
    transform: translateY(-($bounceRange / 2)); } }

.bar{
  .title{
    left: 54px !important;
  }
}
